core/resources/global.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!-- Definition d'un modele -->
	<xs:element name="formalism" type="xs:string" />

	<!-- Definition du type d'un modele -->
	<xs:complexType name="tmodel">
		<xs:sequence>
			<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
		</xs:sequence>
		<xs:attribute name="formalism" type="xs:string" use="required" />
		<xs:anyAttribute processContents="lax" />
	</xs:complexType>

	<!-- Definition d'un modele -->
	<xs:element name="model" type="tmodel" />
</xs:schema>