core/resources/petriXschemas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="model">
        <xs:complexType>
            <xs:choice>
                <xs:element name="nodes" maxOccurs="1">
                    <xs:complexType>
                        <xs:choice>
                        <xs:element name="node" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:choice>
                                    <xs:element name="name" maxOccurs="1" minOccurs="0">
                                        <xs:complexType>
                                            <xs:attribute name="xposition" type="xs:string" use="required"/>
                                            <xs:attribute name="yposition" type="xs:string" use="required"/>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="guard" maxOccurs="1" minOccurs="0">
                                        <xs:complexType>
                                            <xs:attribute name="xposition" type="xs:string" use="required"/>
                                            <xs:attribute name="yposition" type="xs:string" use="required"/>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="priority" maxOccurs="1" minOccurs="0">
                                        <xs:complexType>
                                            <xs:attribute name="xposition" type="xs:string" use="required"/>
                                            <xs:attribute name="yposition" type="xs:string" use="required"/>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="delay" maxOccurs="1" minOccurs="0">
                                        <xs:complexType>
                                            <xs:attribute name="xposition" type="xs:string" use="required"/>
                                            <xs:attribute name="yposition" type="xs:string" use="required"/>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="component" maxOccurs="1" minOccurs="0">
                                        <xs:complexType>
                                            <xs:attribute name="xposition" type="xs:string" use="required"/>
                                            <xs:attribute name="yposition" type="xs:string" use="required"/>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="action" maxOccurs="1" minOccurs="0">
                                        <xs:complexType>
                                            <xs:attribute name="xposition" type="xs:string" use="required"/>
                                            <xs:attribute name="yposition" type="xs:string" use="required"/>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="note" maxOccurs="1" minOccurs="0">
                                        <xs:complexType>
                                            <xs:attribute name="xposition" type="xs:string" use="required"/>
                                            <xs:attribute name="yposition" type="xs:string" use="required"/>
                                        </xs:complexType>
                                     </xs:element>
                                            <xs:element name="domain" maxOccurs="1" minOccurs="0">
                                                <xs:complexType>
                                                    <xs:attribute name="xposition" type="xs:string" use="required"/>
                                                    <xs:attribute name="yposition" type="xs:string" use="required"/>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="marking"  maxOccurs="1" minOccurs="0">
                                                <xs:complexType>
                                                    <xs:attribute name="xposition" type="xs:string" use="required"/>
                                                    <xs:attribute name="yposition" type="xs:string" use="required"/>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="weight" maxOccurs="1" minOccurs="0">
                                                <xs:complexType>
                                                    <xs:attribute name="xposition" type="xs:string" use="required"/>
                                                    <xs:attribute name="yposition" type="xs:string" use="required"/>								
                                                </xs:complexType>
                                            </xs:element>
                                </xs:choice>
                                <xs:attribute name="nodeType" type="xs:string" use="required"/>
                                <xs:attribute name="id" type="xs:string" use="required"/>
                                <xs:attribute name="xposition" type="xs:string" use="required"/>
                                <xs:attribute name="yposition" type="xs:string" use="required"/>
                            </xs:complexType>
                        </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="arcs" maxOccurs="1">
                    <xs:complexType>
                        <xs:choice>
                        <xs:element name="arc" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:choice>
                                    <xs:element name="valuation" maxOccurs="1" minOccurs="0">
                                        <xs:complexType>
                                            <xs:attribute name="xposition" type="xs:string" use="required"/>
                                            <xs:attribute name="yposition" type="xs:string" use="required"/>								
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="note" maxOccurs="1" minOccurs="0">
                                        <xs:complexType>
                                            <xs:attribute name="xposition" type="xs:string" use="required"/>
                                            <xs:attribute name="yposition" type="xs:string" use="required"/>								
                                        </xs:complexType>
                                    </xs:element>
                                </xs:choice>
                                <xs:attribute name="arctype" type="xs:string" use="required"/>
                                <xs:attribute name="xposition" type="xs:string" use="required"/>
                                <xs:attribute name="yposition" type="xs:string" use="required"/>
                            </xs:complexType>
                        </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="declaration"  maxOccurs="1" minOccurs="0">
                    <xs:complexType>
                        <xs:attribute name="xposition" type="xs:string" use="required"/>
                        <xs:attribute name="yposition" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="authors"  maxOccurs="1" minOccurs="0">
                    <xs:complexType>
                        <xs:attribute name="xposition" type="xs:string" use="required"/>
                        <xs:attribute name="yposition" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="version" maxOccurs="1" minOccurs="0">
                    <xs:complexType>
                        <xs:attribute name="xposition" type="xs:string" use="required"/>
                        <xs:attribute name="yposition" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="project" maxOccurs="1" minOccurs="0">
                    <xs:complexType>
                        <xs:attribute name="xposition" type="xs:string" use="required"/>
                        <xs:attribute name="yposition" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="title" maxOccurs="1" minOccurs="0">
                    <xs:complexType>
                        <xs:attribute name="xposition" type="xs:string" use="required"/>
                        <xs:attribute name="yposition" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="date"  maxOccurs="1" minOccurs="0">
                    <xs:complexType>
                        <xs:attribute name="xposition" type="xs:string" use="required"/>
                        <xs:attribute name="yposition" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="code" maxOccurs="1" minOccurs="0">
                    <xs:complexType>
                        <xs:attribute name="xposition" type="xs:string" use="required"/>
                        <xs:attribute name="yposition" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="note"  maxOccurs="1" minOccurs="0">
                    <xs:complexType>
                        <xs:attribute name="xposition" type="xs:string" use="required"/>
                        <xs:attribute name="yposition" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
            <xs:attribute name="formalism" type="xs:string" use="required"/>
            <xs:attribute name="xposition" type="xs:string" use="required"/>
            <xs:attribute name="yposition" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>