branches/core-typedattributes/application/apiws/resources/wrapper.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 11/08/2008 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns12="http://ws.wrapper.move.lip6.fr" xmlns:ns11="http://dialog.output.cami.wrapper.move.lip6.fr/xsd" xmlns:ns10="http://rservice.output.cami.wrapper.move.lip6.fr/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns9="http://menu.output.cami.wrapper.move.lip6.fr/xsd" xmlns:ns8="http://question.command.cami.wrapper.move.lip6.fr/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns7="http://modele.output.cami.wrapper.move.lip6.fr/xsd" xmlns:ns6="http://command.cami.wrapper.move.lip6.fr/xsd" xmlns:ns5="http://exceptions.wrapper.move.lip6.fr/xsd" xmlns:ns4="http://modification.modele.output.cami.wrapper.move.lip6.fr/xsd" xmlns:ns3="http://authentification.output.cami.wrapper.move.lip6.fr/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns2="http://modification.menu.output.cami.wrapper.move.lip6.fr/xsd" xmlns:ns1="http://asynchronous.output.cami.wrapper.move.lip6.fr/xsd" xmlns:ns0="http://fkhight.wrapper.move.lip6.fr/xsd" targetNamespace="http://ws.wrapper.move.lip6.fr">
    <wsdl:types>
        <xs:schema xmlns:ax219="http://fkhight.wrapper.move.lip6.fr/xsd" xmlns:ax220="http://menu.output.cami.wrapper.move.lip6.fr/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://fkhight.wrapper.move.lip6.fr/xsd">
            <xs:import namespace="http://menu.output.cami.wrapper.move.lip6.fr/xsd"/>
            <xs:complexType name="Session">
                <xs:sequence>
                    <xs:element minOccurs="0" name="formalism" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="menu" nillable="true" type="ax220:MMenu"/>
                    <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax25="http://dialog.output.cami.wrapper.move.lip6.fr/xsd" xmlns:ax23="http://asynchronous.output.cami.wrapper.move.lip6.fr/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://asynchronous.output.cami.wrapper.move.lip6.fr/xsd">
            <xs:import namespace="http://dialog.output.cami.wrapper.move.lip6.fr/xsd"/>
            <xs:complexType name="AsyncMessage">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="dbs" nillable="true" type="ns11:DialogBox"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="qts" nillable="true" type="ns1:QuestionState"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="traces" nillable="true" type="ns1:Message"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="QuestionState">
                <xs:sequence>
                    <xs:element minOccurs="0" name="etat" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="nameQuestion" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Message">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ntype" type="xs:int"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax214="http://modification.menu.output.cami.wrapper.move.lip6.fr/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://modification.menu.output.cami.wrapper.move.lip6.fr/xsd">
            <xs:complexType name="LMenuModification">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="lModification" nillable="true" type="ax214:MenuModification"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MenuModification">
                <xs:sequence>
                    <xs:element minOccurs="0" name="question" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="root" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://authentification.output.cami.wrapper.move.lip6.fr/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://authentification.output.cami.wrapper.move.lip6.fr/xsd">
            <xs:complexType name="Authentification">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ackOC" nillable="true" type="ns3:AckOC"/>
                    <xs:element minOccurs="0" name="ackSC" nillable="true" type="ns3:AckSC"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="id" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="login" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="periodPing" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AckOC">
                <xs:sequence>
                    <xs:element minOccurs="0" name="major" type="xs:int"/>
                    <xs:element minOccurs="0" name="minor" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AckSC">
                <xs:sequence>
                    <xs:element minOccurs="0" name="hostInformation" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Unauthentification">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="id" nillable="true" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax29="http://modele.output.cami.wrapper.move.lip6.fr/xsd" xmlns:ax28="http://modification.modele.output.cami.wrapper.move.lip6.fr/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://modification.modele.output.cami.wrapper.move.lip6.fr/xsd">
            <xs:import namespace="http://modele.output.cami.wrapper.move.lip6.fr/xsd"/>
            <xs:complexType name="LModificationModel">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="ignores" nillable="true" type="ax28:IgnoreCommand"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="modifications" nillable="true" type="ax28:ModelModification"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IgnoreCommand">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ModelModification">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="nameAtt" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pos" nillable="true" type="ax29:Position"/>
                    <xs:element minOccurs="0" name="size" nillable="true" type="ax29:ObjectSize"/>
                    <xs:element minOccurs="0" name="type" type="xs:int"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax21="http://exceptions.wrapper.move.lip6.fr/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exceptions.wrapper.move.lip6.fr/xsd">
            <xs:complexType name="GException">
                <xs:complexContent>
                    <xs:extension base="ns12:Exception">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="error" type="xs:int"/>
                            <xs:element minOccurs="0" name="level" type="xs:int"/>
                            <xs:element minOccurs="0" name="mess" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="LEVEL_CRASH" type="xs:int"/>
                            <xs:element minOccurs="0" name="LEVEL_HIGHT" type="xs:int"/>
                            <xs:element minOccurs="0" name="LEVEL_LOW" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax217="http://command.cami.wrapper.move.lip6.fr/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://command.cami.wrapper.move.lip6.fr/xsd">
            <xs:complexType name="CamiBuilder">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax27="http://modele.output.cami.wrapper.move.lip6.fr/xsd" xmlns:ax210="http://modification.modele.output.cami.wrapper.move.lip6.fr/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://modele.output.cami.wrapper.move.lip6.fr/xsd">
            <xs:import namespace="http://modification.modele.output.cami.wrapper.move.lip6.fr/xsd"/>
            <xs:complexType name="Model">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arcs" nillable="true" type="ax27:BArc"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="boxes" nillable="true" type="ax27:BBox"/>
                    <xs:element minOccurs="0" name="cami" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="invalidate" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="modification" nillable="true" type="ax210:LModificationModel"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="nodes" nillable="true" type="ax27:BNode"/>
                    <xs:element minOccurs="0" name="parsing" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AElement">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="atts" nillable="true" type="ax27:Attribute"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="position" nillable="true" type="ax27:Position"/>
                    <xs:element minOccurs="0" name="size" nillable="true" type="ax27:ObjectSize"/>
                    <xs:element minOccurs="0" name="sublight" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Attribute">
                <xs:sequence>
                    <xs:element minOccurs="0" name="attName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pos" nillable="true" type="ax27:Position"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="values" nillable="true" type="ax27:AttributeValue"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Position">
                <xs:sequence>
                    <xs:element minOccurs="0" name="kind" type="xs:int"/>
                    <xs:element minOccurs="0" name="xx" type="xs:int"/>
                    <xs:element minOccurs="0" name="yy" type="xs:int"/>
                    <xs:element minOccurs="0" name="MIDDLE" type="xs:int"/>
                    <xs:element minOccurs="0" name="POINT" type="xs:int"/>
                    <xs:element minOccurs="0" name="UP_LEFT" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AttributeValue">
                <xs:sequence>
                    <xs:element minOccurs="0" name="subLight" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ObjectSize">
                <xs:sequence>
                    <xs:element minOccurs="0" name="bottom" type="xs:int"/>
                    <xs:element minOccurs="0" name="kind" type="xs:int"/>
                    <xs:element minOccurs="0" name="left" type="xs:int"/>
                    <xs:element minOccurs="0" name="right" type="xs:int"/>
                    <xs:element minOccurs="0" name="top" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BArc">
                <xs:complexContent>
                    <xs:extension base="ax27:AElement">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="destination" type="xs:int"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="points" nillable="true" type="ax27:Position"/>
                            <xs:element minOccurs="0" name="source" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="BBox">
                <xs:complexContent>
                    <xs:extension base="ax27:AElement">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="page" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="BNode">
                <xs:complexContent>
                    <xs:extension base="ax27:AElement">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax216="http://question.command.cami.wrapper.move.lip6.fr/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://question.command.cami.wrapper.move.lip6.fr/xsd">
            <xs:complexType name="QT">
                <xs:complexContent>
                    <xs:extension base="ns6:CamiBuilder">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="QO">
                <xs:complexContent>
                    <xs:extension base="ns6:CamiBuilder">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="id" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax26="http://menu.output.cami.wrapper.move.lip6.fr/xsd" xmlns:ax218="http://question.command.cami.wrapper.move.lip6.fr/xsd" xmlns:ax215="http://modification.menu.output.cami.wrapper.move.lip6.fr/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://menu.output.cami.wrapper.move.lip6.fr/xsd">
            <xs:import namespace="http://modification.menu.output.cami.wrapper.move.lip6.fr/xsd"/>
            <xs:import namespace="http://question.command.cami.wrapper.move.lip6.fr/xsd"/>
            <xs:complexType name="Question">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cardinality" type="xs:int"/>
                    <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="helps" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="interaction" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="stop" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="validation" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="visibility" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Service">
                <xs:complexContent>
                    <xs:extension base="ns9:Question">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="Option">
                <xs:complexContent>
                    <xs:extension base="ns9:Question">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="MMenu">
                <xs:sequence>
                    <xs:element minOccurs="0" name="lastModification" nillable="true" type="ax215:LMenuModification"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="roots" nillable="true" type="ns9:RootMenu"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RootMenu">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="root" nillable="true" type="ns9:SubMenu"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubMenu">
                <xs:complexContent>
                    <xs:extension base="ns9:Question">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="option" nillable="true" type="ns9:Option"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="serviceWithOneText" nillable="true" type="ns9:ServiceWithOneText"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="serviceWithTexts" nillable="true" type="ns9:ServiceWithTexts"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="services" nillable="true" type="ns9:Service"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="servicesWithObjects" nillable="true" type="ns9:ServiceWithObjects"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="servicesWithOneObject" nillable="true" type="ns9:ServiceWithOneObject"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="subMenus" nillable="true" type="ns9:SubMenu"/>
                            <xs:element minOccurs="0" name="visibility" type="xs:boolean"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="ServiceWithOneText">
                <xs:complexContent>
                    <xs:extension base="ns9:Question">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="text" nillable="true" type="ax218:QT"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="ServiceWithTexts">
                <xs:complexContent>
                    <xs:extension base="ns9:Question">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="texts" nillable="true" type="ax218:QT"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="ServiceWithObjects">
                <xs:complexContent>
                    <xs:extension base="ns9:Question">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="objects" nillable="true" type="ax218:QO"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="ServiceWithOneObject">
                <xs:complexContent>
                    <xs:extension base="ns9:Question">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="object" nillable="true" type="ax218:QO"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax213="http://modele.output.cami.wrapper.move.lip6.fr/xsd" xmlns:ax212="http://menu.output.cami.wrapper.move.lip6.fr/xsd" xmlns:ax211="http://rservice.output.cami.wrapper.move.lip6.fr/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://rservice.output.cami.wrapper.move.lip6.fr/xsd">
            <xs:import namespace="http://menu.output.cami.wrapper.move.lip6.fr/xsd"/>
            <xs:import namespace="http://modele.output.cami.wrapper.move.lip6.fr/xsd"/>
            <xs:complexType name="RService">
                <xs:sequence>
                    <xs:element minOccurs="0" name="answerToquestion" nillable="true" type="ax212:Question"/>
                    <xs:element minOccurs="0" name="catagorie" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="currentModel" nillable="true" type="ax213:Model"/>
                    <xs:element minOccurs="0" name="ensemble" nillable="true" type="ax211:Ensemble"/>
                    <xs:element minOccurs="0" name="menu" nillable="true" type="ax212:MMenu"/>
                    <xs:element minOccurs="0" name="modelModification" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="modelSend" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="newModels" nillable="true" type="ax213:Model"/>
                    <xs:element minOccurs="0" name="timeExecution" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Ensemble">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="ensembles" nillable="true" type="ax211:Ensemble"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="objs" nillable="true" type="ax211:ObjResult"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="subLightAttribute" nillable="true" type="ax211:SubLightAttribute"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="subLightObject" nillable="true" type="ax211:SubLightObject"/>
                    <xs:element minOccurs="0" name="txts" nillable="true" type="ax211:TextResult"/>
                    <xs:element minOccurs="0" name="type" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ObjResult">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="objs" nillable="true" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubLightAttribute">
                <xs:sequence>
                    <xs:element minOccurs="0" name="begin" type="xs:int"/>
                    <xs:element minOccurs="0" name="end" type="xs:int"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubLightObject">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TextResult">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="txts" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax24="http://dialog.output.cami.wrapper.move.lip6.fr/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dialog.output.cami.wrapper.move.lip6.fr/xsd">
            <xs:complexType name="DialogBox">
                <xs:sequence>
                    <xs:element minOccurs="0" name="answer" nillable="true" type="ns11:DBAnswer"/>
                    <xs:element minOccurs="0" name="defaultValue" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="help" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="inputType" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="line" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lineType" type="xs:int"/>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sent" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="show" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="title" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" type="xs:int"/>
                    <xs:element minOccurs="0" name="typeButton" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DBAnswer">
                <xs:sequence>
                    <xs:element minOccurs="0" name="buttonAnswer" type="xs:int"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="modified" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="objects" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ns="http://ws.wrapper.move.lip6.fr" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.wrapper.move.lip6.fr">
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="GException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="GException" nillable="true" type="ns5:GException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ping">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="auth" nillable="true" type="ns3:Authentification"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="pingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns1:AsyncMessage"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="connect">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="mdp" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="connectResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns3:Authentification"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="disconnect">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id" nillable="true" type="ns3:Authentification"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="disconnectResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns3:Unauthentification"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="executeService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="uid" nillable="true" type="ns3:Authentification"/>
                        <xs:element minOccurs="0" name="idSession" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="root" nillable="true" type="ns9:Question"/>
                        <xs:element minOccurs="0" name="question" nillable="true" type="ns9:Service"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="options" nillable="true" type="ns9:Option"/>
                        <xs:element minOccurs="0" name="theModel" nillable="true" type="ns7:Model"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="executeServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns10:RService"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="executeServiceWithObjects">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="uid" nillable="true" type="ns3:Authentification"/>
                        <xs:element minOccurs="0" name="idSession" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="root" nillable="true" type="ns9:Question"/>
                        <xs:element minOccurs="0" name="question" nillable="true" type="ns9:ServiceWithObjects"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="options" nillable="true" type="ns9:Option"/>
                        <xs:element minOccurs="0" name="theModel" nillable="true" type="ns7:Model"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="executeServiceWithObjectsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns10:RService"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="executeServiceWithOneObject">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="uid" nillable="true" type="ns3:Authentification"/>
                        <xs:element minOccurs="0" name="idSession" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="root" nillable="true" type="ns9:Question"/>
                        <xs:element minOccurs="0" name="question" nillable="true" type="ns9:ServiceWithOneObject"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="options" nillable="true" type="ns9:Option"/>
                        <xs:element minOccurs="0" name="theModel" nillable="true" type="ns7:Model"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="executeServiceWithOneObjectResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns10:RService"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="executeServiceWithOneText">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="uid" nillable="true" type="ns3:Authentification"/>
                        <xs:element minOccurs="0" name="idSession" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="root" nillable="true" type="ns9:Question"/>
                        <xs:element minOccurs="0" name="question" nillable="true" type="ns9:ServiceWithOneText"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="options" nillable="true" type="ns9:Option"/>
                        <xs:element minOccurs="0" name="theModel" nillable="true" type="ns7:Model"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="executeServiceWithOneTextResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns10:RService"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="executeServiceWithTexts">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="uid" nillable="true" type="ns3:Authentification"/>
                        <xs:element minOccurs="0" name="idSession" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="root" nillable="true" type="ns9:Question"/>
                        <xs:element minOccurs="0" name="question" nillable="true" type="ns9:ServiceWithTexts"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="options" nillable="true" type="ns9:Option"/>
                        <xs:element minOccurs="0" name="theModel" nillable="true" type="ns7:Model"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="executeServiceWithTextsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns10:RService"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changeSession">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="uid" nillable="true" type="ns3:Authentification"/>
                        <xs:element minOccurs="0" name="idSession" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changeSessionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns0:Session"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="closeSession">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="uid" nillable="true" type="ns3:Authentification"/>
                        <xs:element minOccurs="0" name="idSession" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="closeSessionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns0:Session"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createSession">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="uid" nillable="true" type="ns3:Authentification"/>
                        <xs:element minOccurs="0" name="nameFormalism" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createSessionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns0:Session"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="answerDb">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="auth" nillable="true" type="ns3:Authentification"/>
                        <xs:element minOccurs="0" name="dialog" nillable="true" type="ns11:DialogBox"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="answerDbResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="disconnectAllUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="admin" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="mdp" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="disconnectAllUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="main">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="args" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="answerDbRequest">
        <wsdl:part name="parameters" element="ns12:answerDb"/>
    </wsdl:message>
    <wsdl:message name="answerDbResponse">
        <wsdl:part name="parameters" element="ns12:answerDbResponse"/>
    </wsdl:message>
    <wsdl:message name="GException">
        <wsdl:part name="parameters" element="ns12:GException"/>
    </wsdl:message>
    <wsdl:message name="closeSessionRequest">
        <wsdl:part name="parameters" element="ns12:closeSession"/>
    </wsdl:message>
    <wsdl:message name="closeSessionResponse">
        <wsdl:part name="parameters" element="ns12:closeSessionResponse"/>
    </wsdl:message>
    <wsdl:message name="createSessionRequest">
        <wsdl:part name="parameters" element="ns12:createSession"/>
    </wsdl:message>
    <wsdl:message name="createSessionResponse">
        <wsdl:part name="parameters" element="ns12:createSessionResponse"/>
    </wsdl:message>
    <wsdl:message name="mainRequest">
        <wsdl:part name="parameters" element="ns12:main"/>
    </wsdl:message>
    <wsdl:message name="executeServiceWithOneObjectRequest">
        <wsdl:part name="parameters" element="ns12:executeServiceWithOneObject"/>
    </wsdl:message>
    <wsdl:message name="executeServiceWithOneObjectResponse">
        <wsdl:part name="parameters" element="ns12:executeServiceWithOneObjectResponse"/>
    </wsdl:message>
    <wsdl:message name="executeServiceWithOneTextRequest">
        <wsdl:part name="parameters" element="ns12:executeServiceWithOneText"/>
    </wsdl:message>
    <wsdl:message name="executeServiceWithOneTextResponse">
        <wsdl:part name="parameters" element="ns12:executeServiceWithOneTextResponse"/>
    </wsdl:message>
    <wsdl:message name="changeSessionRequest">
        <wsdl:part name="parameters" element="ns12:changeSession"/>
    </wsdl:message>
    <wsdl:message name="changeSessionResponse">
        <wsdl:part name="parameters" element="ns12:changeSessionResponse"/>
    </wsdl:message>
    <wsdl:message name="disconnectAllUserRequest">
        <wsdl:part name="parameters" element="ns12:disconnectAllUser"/>
    </wsdl:message>
    <wsdl:message name="disconnectAllUserResponse">
        <wsdl:part name="parameters" element="ns12:disconnectAllUserResponse"/>
    </wsdl:message>
    <wsdl:message name="pingRequest">
        <wsdl:part name="parameters" element="ns12:ping"/>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part name="parameters" element="ns12:pingResponse"/>
    </wsdl:message>
    <wsdl:message name="executeServiceWithTextsRequest">
        <wsdl:part name="parameters" element="ns12:executeServiceWithTexts"/>
    </wsdl:message>
    <wsdl:message name="executeServiceWithTextsResponse">
        <wsdl:part name="parameters" element="ns12:executeServiceWithTextsResponse"/>
    </wsdl:message>
    <wsdl:message name="executeServiceRequest">
        <wsdl:part name="parameters" element="ns12:executeService"/>
    </wsdl:message>
    <wsdl:message name="executeServiceResponse">
        <wsdl:part name="parameters" element="ns12:executeServiceResponse"/>
    </wsdl:message>
    <wsdl:message name="disconnectRequest">
        <wsdl:part name="parameters" element="ns12:disconnect"/>
    </wsdl:message>
    <wsdl:message name="disconnectResponse">
        <wsdl:part name="parameters" element="ns12:disconnectResponse"/>
    </wsdl:message>
    <wsdl:message name="connectRequest">
        <wsdl:part name="parameters" element="ns12:connect"/>
    </wsdl:message>
    <wsdl:message name="connectResponse">
        <wsdl:part name="parameters" element="ns12:connectResponse"/>
    </wsdl:message>
    <wsdl:message name="executeServiceWithObjectsRequest">
        <wsdl:part name="parameters" element="ns12:executeServiceWithObjects"/>
    </wsdl:message>
    <wsdl:message name="executeServiceWithObjectsResponse">
        <wsdl:part name="parameters" element="ns12:executeServiceWithObjectsResponse"/>
    </wsdl:message>
    <wsdl:portType name="WrapperPortType">
        <wsdl:operation name="answerDb">
            <wsdl:input message="ns12:answerDbRequest" wsaw:Action="urn:answerDb"/>
            <wsdl:output message="ns12:answerDbResponse" wsaw:Action="urn:answerDbResponse"/>
            <wsdl:fault message="ns12:GException" name="GException" wsaw:Action="urn:answerDbGException"/>
        </wsdl:operation>
        <wsdl:operation name="closeSession">
            <wsdl:input message="ns12:closeSessionRequest" wsaw:Action="urn:closeSession"/>
            <wsdl:output message="ns12:closeSessionResponse" wsaw:Action="urn:closeSessionResponse"/>
            <wsdl:fault message="ns12:GException" name="GException" wsaw:Action="urn:closeSessionGException"/>
        </wsdl:operation>
        <wsdl:operation name="createSession">
            <wsdl:input message="ns12:createSessionRequest" wsaw:Action="urn:createSession"/>
            <wsdl:output message="ns12:createSessionResponse" wsaw:Action="urn:createSessionResponse"/>
            <wsdl:fault message="ns12:GException" name="GException" wsaw:Action="urn:createSessionGException"/>
        </wsdl:operation>
        <wsdl:operation name="main">
            <wsdl:input message="ns12:mainRequest" wsaw:Action="urn:main"/>
        </wsdl:operation>
        <wsdl:operation name="executeServiceWithOneObject">
            <wsdl:input message="ns12:executeServiceWithOneObjectRequest" wsaw:Action="urn:executeServiceWithOneObject"/>
            <wsdl:output message="ns12:executeServiceWithOneObjectResponse" wsaw:Action="urn:executeServiceWithOneObjectResponse"/>
            <wsdl:fault message="ns12:GException" name="GException" wsaw:Action="urn:executeServiceWithOneObjectGException"/>
        </wsdl:operation>
        <wsdl:operation name="executeServiceWithOneText">
            <wsdl:input message="ns12:executeServiceWithOneTextRequest" wsaw:Action="urn:executeServiceWithOneText"/>
            <wsdl:output message="ns12:executeServiceWithOneTextResponse" wsaw:Action="urn:executeServiceWithOneTextResponse"/>
            <wsdl:fault message="ns12:GException" name="GException" wsaw:Action="urn:executeServiceWithOneTextGException"/>
        </wsdl:operation>
        <wsdl:operation name="changeSession">
            <wsdl:input message="ns12:changeSessionRequest" wsaw:Action="urn:changeSession"/>
            <wsdl:output message="ns12:changeSessionResponse" wsaw:Action="urn:changeSessionResponse"/>
            <wsdl:fault message="ns12:GException" name="GException" wsaw:Action="urn:changeSessionGException"/>
        </wsdl:operation>
        <wsdl:operation name="disconnectAllUser">
            <wsdl:input message="ns12:disconnectAllUserRequest" wsaw:Action="urn:disconnectAllUser"/>
            <wsdl:output message="ns12:disconnectAllUserResponse" wsaw:Action="urn:disconnectAllUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <wsdl:input message="ns12:pingRequest" wsaw:Action="urn:ping"/>
            <wsdl:output message="ns12:pingResponse" wsaw:Action="urn:pingResponse"/>
            <wsdl:fault message="ns12:GException" name="GException" wsaw:Action="urn:pingGException"/>
        </wsdl:operation>
        <wsdl:operation name="executeServiceWithTexts">
            <wsdl:input message="ns12:executeServiceWithTextsRequest" wsaw:Action="urn:executeServiceWithTexts"/>
            <wsdl:output message="ns12:executeServiceWithTextsResponse" wsaw:Action="urn:executeServiceWithTextsResponse"/>
            <wsdl:fault message="ns12:GException" name="GException" wsaw:Action="urn:executeServiceWithTextsGException"/>
        </wsdl:operation>
        <wsdl:operation name="executeService">
            <wsdl:input message="ns12:executeServiceRequest" wsaw:Action="urn:executeService"/>
            <wsdl:output message="ns12:executeServiceResponse" wsaw:Action="urn:executeServiceResponse"/>
            <wsdl:fault message="ns12:GException" name="GException" wsaw:Action="urn:executeServiceGException"/>
        </wsdl:operation>
        <wsdl:operation name="disconnect">
            <wsdl:input message="ns12:disconnectRequest" wsaw:Action="urn:disconnect"/>
            <wsdl:output message="ns12:disconnectResponse" wsaw:Action="urn:disconnectResponse"/>
            <wsdl:fault message="ns12:GException" name="GException" wsaw:Action="urn:disconnectGException"/>
        </wsdl:operation>
        <wsdl:operation name="connect">
            <wsdl:input message="ns12:connectRequest" wsaw:Action="urn:connect"/>
            <wsdl:output message="ns12:connectResponse" wsaw:Action="urn:connectResponse"/>
            <wsdl:fault message="ns12:GException" name="GException" wsaw:Action="urn:connectGException"/>
        </wsdl:operation>
        <wsdl:operation name="executeServiceWithObjects">
            <wsdl:input message="ns12:executeServiceWithObjectsRequest" wsaw:Action="urn:executeServiceWithObjects"/>
            <wsdl:output message="ns12:executeServiceWithObjectsResponse" wsaw:Action="urn:executeServiceWithObjectsResponse"/>
            <wsdl:fault message="ns12:GException" name="GException" wsaw:Action="urn:executeServiceWithObjectsGException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WrapperSOAP11Binding" type="ns12:WrapperPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="answerDb">
            <soap:operation soapAction="urn:answerDb" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GException">
                <soap:fault use="literal" name="GException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="closeSession">
            <soap:operation soapAction="urn:closeSession" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GException">
                <soap:fault use="literal" name="GException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createSession">
            <soap:operation soapAction="urn:createSession" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GException">
                <soap:fault use="literal" name="GException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="main">
            <soap:operation soapAction="urn:main" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="executeServiceWithOneObject">
            <soap:operation soapAction="urn:executeServiceWithOneObject" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GException">
                <soap:fault use="literal" name="GException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="executeServiceWithOneText">
            <soap:operation soapAction="urn:executeServiceWithOneText" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GException">
                <soap:fault use="literal" name="GException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeSession">
            <soap:operation soapAction="urn:changeSession" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GException">
                <soap:fault use="literal" name="GException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="disconnectAllUser">
            <soap:operation soapAction="urn:disconnectAllUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <soap:operation soapAction="urn:ping" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GException">
                <soap:fault use="literal" name="GException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="executeServiceWithTexts">
            <soap:operation soapAction="urn:executeServiceWithTexts" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GException">
                <soap:fault use="literal" name="GException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="executeService">
            <soap:operation soapAction="urn:executeService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GException">
                <soap:fault use="literal" name="GException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="disconnect">
            <soap:operation soapAction="urn:disconnect" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GException">
                <soap:fault use="literal" name="GException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="connect">
            <soap:operation soapAction="urn:connect" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GException">
                <soap:fault use="literal" name="GException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="executeServiceWithObjects">
            <soap:operation soapAction="urn:executeServiceWithObjects" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GException">
                <soap:fault use="literal" name="GException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WrapperSOAP12Binding" type="ns12:WrapperPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="answerDb">
            <soap12:operation soapAction="urn:answerDb" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GException">
                <soap12:fault use="literal" name="GException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="closeSession">
            <soap12:operation soapAction="urn:closeSession" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GException">
                <soap12:fault use="literal" name="GException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createSession">
            <soap12:operation soapAction="urn:createSession" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GException">
                <soap12:fault use="literal" name="GException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="main">
            <soap12:operation soapAction="urn:main" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="executeServiceWithOneObject">
            <soap12:operation soapAction="urn:executeServiceWithOneObject" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GException">
                <soap12:fault use="literal" name="GException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="executeServiceWithOneText">
            <soap12:operation soapAction="urn:executeServiceWithOneText" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GException">
                <soap12:fault use="literal" name="GException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeSession">
            <soap12:operation soapAction="urn:changeSession" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GException">
                <soap12:fault use="literal" name="GException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="disconnectAllUser">
            <soap12:operation soapAction="urn:disconnectAllUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <soap12:operation soapAction="urn:ping" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GException">
                <soap12:fault use="literal" name="GException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="executeServiceWithTexts">
            <soap12:operation soapAction="urn:executeServiceWithTexts" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GException">
                <soap12:fault use="literal" name="GException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="executeService">
            <soap12:operation soapAction="urn:executeService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GException">
                <soap12:fault use="literal" name="GException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="disconnect">
            <soap12:operation soapAction="urn:disconnect" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GException">
                <soap12:fault use="literal" name="GException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="connect">
            <soap12:operation soapAction="urn:connect" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GException">
                <soap12:fault use="literal" name="GException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="executeServiceWithObjects">
            <soap12:operation soapAction="urn:executeServiceWithObjects" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GException">
                <soap12:fault use="literal" name="GException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WrapperHttpBinding" type="ns12:WrapperPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="answerDb">
            <http:operation location="Wrapper/answerDb"/>
            <wsdl:input>
                <mime:content type="text/xml" part="answerDb"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="answerDb"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="closeSession">
            <http:operation location="Wrapper/closeSession"/>
            <wsdl:input>
                <mime:content type="text/xml" part="closeSession"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="closeSession"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createSession">
            <http:operation location="Wrapper/createSession"/>
            <wsdl:input>
                <mime:content type="text/xml" part="createSession"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="createSession"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="main">
            <http:operation location="Wrapper/main"/>
            <wsdl:input>
                <mime:content type="text/xml" part="main"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="executeServiceWithOneObject">
            <http:operation location="Wrapper/executeServiceWithOneObject"/>
            <wsdl:input>
                <mime:content type="text/xml" part="executeServiceWithOneObject"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="executeServiceWithOneObject"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="executeServiceWithOneText">
            <http:operation location="Wrapper/executeServiceWithOneText"/>
            <wsdl:input>
                <mime:content type="text/xml" part="executeServiceWithOneText"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="executeServiceWithOneText"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changeSession">
            <http:operation location="Wrapper/changeSession"/>
            <wsdl:input>
                <mime:content type="text/xml" part="changeSession"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="changeSession"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="disconnectAllUser">
            <http:operation location="Wrapper/disconnectAllUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="disconnectAllUser"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="disconnectAllUser"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <http:operation location="Wrapper/ping"/>
            <wsdl:input>
                <mime:content type="text/xml" part="ping"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="ping"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="executeServiceWithTexts">
            <http:operation location="Wrapper/executeServiceWithTexts"/>
            <wsdl:input>
                <mime:content type="text/xml" part="executeServiceWithTexts"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="executeServiceWithTexts"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="executeService">
            <http:operation location="Wrapper/executeService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="executeService"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="executeService"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="disconnect">
            <http:operation location="Wrapper/disconnect"/>
            <wsdl:input>
                <mime:content type="text/xml" part="disconnect"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="disconnect"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="connect">
            <http:operation location="Wrapper/connect"/>
            <wsdl:input>
                <mime:content type="text/xml" part="connect"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="connect"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="executeServiceWithObjects">
            <http:operation location="Wrapper/executeServiceWithObjects"/>
            <wsdl:input>
                <mime:content type="text/xml" part="executeServiceWithObjects"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="executeServiceWithObjects"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Wrapper">
        <wsdl:port name="WrapperSOAP11port_http" binding="ns12:WrapperSOAP11Binding">
            <soap:address location="http://localhost:8080/axis2/services/Wrapper"/>
        </wsdl:port>
        <wsdl:port name="WrapperSOAP12port_http" binding="ns12:WrapperSOAP12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/Wrapper"/>
        </wsdl:port>
        <wsdl:port name="WrapperHttpport" binding="ns12:WrapperHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/Wrapper"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
